@model PostingNews.ViewModels.HomeViewModel
@*<div class="row">
        @foreach (var post in Model.Posts)
        {
        <div>
            @if (string.IsNullOrEmpty(post.URL))
            {
                <h2>@Model.Title</h2>
            }
            Else
            {
            <h2><a href="@post.URL">@Model.Title</a></h2>
            }
            <p>@post.DESCRIPTION</p>
        </div>}

    </div>*@
@*<div class="row">
    @if (string.IsNullOrEmpty(Model.URL))
    {
        <h2>@Model.Title</h2>
    }
    Else
    {
    <h2><a href="@Model.URL">@Model.Title</a></h2>
    }
    <p>@Model.Description</p>
</div>*@
